@font-face {
    font-family: 'sports';
    src: url(../fonts/collegiateHeavyOutline\ Medium.ttf)
}

body {
    background-color: #182954; 
}

h1 {
    text-align: center;
    background-color:#E7222F;
    font-family: sports; 
    color: white;
    font-size: 50px;
    padding: 10px;
}

.container {
    max-width: 960px;
}

.row {
    padding-bottom: 20px;
    padding-top: 20px;
}

.search-button {
    margin: 5px;
}

.rating {
    color: white;
}

.gifDiv {
    margin-top: 10px;
}